<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hamzah Al-Hagi">
    <meta name="keywords" content="وظائف,شركات, توظيف, عمل">
    <title>HR jobs</title>
    <link rel="stylesheet" href="../../assets/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/jobs.css">
    <style>
      .btn-outline-success:hover{
        background-color:#87cab2;
      }
    </style>
</head>
<body>
  <!-- menu section  -->
  <nav class="navbar navbar-expand-lg navbar-light container-fluid" >
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">H<span style="color: yellow;">R</span> <small >Jobs </small> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/site/jobs.html">Jobs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="pages/site/services.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="pages/site/resume.html">Make Resume / CV</a></li>
              <li><a class="dropdown-item" href="#">Evaluate Resume </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Help to know your needs</a></li>
              <li><a class="dropdown-item" href="#">Help You to know Your Goal</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">The job you wish</a>
          </li>
        </ul>
        <div class="col-lg-1 col-0" style="color: #777 !important;">
          <div class="dropdown d-lg-inline-flex d-none" style="color: #777 !important;">
              <a class="dropdown-toggle text-center text-light mt-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                  <img src="../../assets/imges/me.jpg" width="50%" class="img-fluid rounded-circle border border-2 border-secondary shadow-sm" alt="">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="../dashboard/protfile.html" 
                    
                    ><i class="bi bi-person-fill m-2"></i> Profile</a></li>
                  <li><a class="dropdown-item" href="../dashboard/manage_users.html"><i class="bi bi-speedometer m-2"></i> Dashboard</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/regest.html"><i class="bi bi-box-arrow-down-right m-2"></i> Sign out</a></li>
              </ul>
          </div>
      </div>
      </div>
    </div>
  </nav>
 <!--End menu section  -->
<header>
</header>

    <!-- Banner Section -->
    <section class="banner" style="background-image: url(../../assets/imges/loginback.png); background-size: cover; height: 50vh;background-position: center;">
      <div class="container-lg ">
        <div class="row pt-5 pb-5">
            <!-- Search -->
            <section class="card py-2 shadow m-auto position-relative search " >
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-2">
                        <div class="bg-20 bg-warning  d-flex logo border  shadow-sm align-items-center justify-content-center">
                          <font-awesome-icon class="fas fa-search text-center m-2" :icon="['fas', 'magnifying-glass']" />
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                        <div>
                            <input v-model="searchQuery" type="search" id="search-key" class="form-control" placeholder="search..." aria-label="email" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-12 card py-3 shadow m-auto my-4 position-relative search" styel="background-color:#FFC107">
                <div class="row">
                    <div class="col-md-4">
                      <select class="form-control">
                        <option  v-for="j of resultQuery" :key="j.id" :value="j.city" selected > {{ j.city }} </option>
                        <option value="" selected>City</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select class="form-control" aria-label="Default select example">
                        <option  v-for="j of resultQuery" :key="j.id" :value="j.company" selected > {{ j.company }} </option>
                        <option value="" selected  >Company</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select class="form-control">
                        <option  v-for="j of resultQuery" :key="j.id" :value="j.job_type" selected > {{ j.job_type }} </option>
                        <option value="" selected>Job Type</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-4">
                      <select class="form-control">
                        <option  v-for="j of resultQuery" :key="j.id" :value="j.type" selected > {{ j.type }} </option>
                        <option value="" selected>Work Type</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select class="form-control">
                        <option value="">Time</option>
                        <option>Last time</option>
                        <option>Today</option>
                        <option>This week</option>
                        <option>This month</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select class="form-control">
                        <option  v-for="j of resultQuery" :key="j.id" :value="j.price" selected > {{ j.price }} </option>
                        <option value="" selected>Price</option>
                      </select>
                    </div>
                  </div>

            </section>
        </div>
    </div>
  </section>

  <main>
      <div class="container-lg">
          <div class="row pt-4 mt-lg-5 mt-md-4 mt-0">
              <!-- header of page -->
              <section class="offer-jobs-container col-lg-12 col-md-8 col-sm-12">
                <div id="slide-number" class="slide-number"></div>
                  <!-- Single Job -->
                  <!-- Single Job -->
                  <article class="card p-lg-3 p-md-2 p-3 mb-2 shadow-sm search-job border-4 border-success-subtle" role="button" >
                    <div   class="card-title d-flex justify-content-between align-items-center m-0">
                        <div class="px-2 s">
                            <h3 class="mb-0"><a class="text-primary fs-5 fw-bold" href="../templates/detailsJob.html">{{r.title}}</a></h3>
                            <a class="text-secondary fs-5 fw-bold mb-0" href="#"> {{ r.company }} <span class="fw-light text-dark fs-7">{{ r.city }}</span></a>
                        </div>
                        <div class="p-1 rounded d-flex justify-content-center logo-lg shadow-sm mt-2 ml-5">
                            <img class="img-fluid" src="../../assets/imges/microsoft.png" width="100%" alt="microsoft">
                        </div>
                    </div>
                    <div class="card-body p-md-2">
                        <div class="row card-link d-flex align-items-center justify-content-between mt-2">
                            <div class="col-12 fs-7">
                                <div class="d-inline-block px-1">
                                    <a href="../templates/detailsJob.html">
                                        <i class="bi bi-briefcase text-primary"></i>
                                        <span class="text-secondary">Entry Level</span>
                                    </a>
                                </div>
                                <div class="d-inline-block px-1">
                                    <a href="../templates/detailsJob.html">
                                        <i class="bi bi-hourglass text-primary"></i>
                                        <span class="text-dark">{{r.type}}</span>
                                    </a>
                                </div>
                                <div class="d-inline-block px-1">
                                    <a href="../templates/detailsJob.html">
                                        <i class="bi bi-cash-stack text-primary"></i>
                                        <span class="text-dark">{{r.price}}</span>
                                    </a>
                                </div>
                                <div class="d-inline-block px-1">
                                    <a href="../templates/detailsJob.html">
                                        <i class="bi bi-clock text-primary"></i>
                                        <span class="text-danger">{{r.data}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="my-2">
                            <a href="../templates/detailsJob.html">
                                <p class="fw-light  text-dark">{{ r.body }} </p>
                            </a>
                        </div>
                    </div>
                </article>
                  <!-- Single Job -->
                  <article class="card p-lg-3 p-md-2 p-3 mb-3 shadow-sm search-job" role="button">
                      <div class="card-title d-flex justify-content-between align-items-center m-0">
                          <div class="px-2">
                              <h3 class="mb-0"><a class="text-primary fs-5 fw-bold" href="../templates/detailsJob.html">Area Sales Manager</a></h3>
                              <a class="text-secondary fs-5 fw-bold mb-0" href="#">Rawabi Holding Company <span class="fw-light fs-6">- Eastern Province, Saudi Arabia </span></a>
                          </div>
                          <div class="p-1 rounded d-flex justify-content-center logo-lg shadow-sm mt-2 ml-5">
                              <img class="img-fluid" src="../../assets/imges/microsoft.png" width="100%" alt="rawabiHolding">
                          </div>
                      </div>
                      <div class="card-body p-md-2">
                          <div class="row card-link d-flex align-items-center justify-content-between mt-2">
                              <div class="col-12 fs-7">
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-briefcase text-primary"></i>
                                          <span class="text-secondary"> Senior Executive</span>
                                      </a>
                                  </div>
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-hourglass text-primary"></i>
                                          <span class="text-secondary">part-time</span>
                                      </a>
                                  </div>
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-clock text-primary"></i>
                                          <span class="text-secondary">Feb 01</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                            <div class="my-2">
                                <a href="../templates/detailsJob.html">
                                    <p class="fw-light fs-6 text-secondary">The main purpose of the Area Sales Manager job is to be responsible for implementing the company's </p>
                                </a>
                            </div>
                      </div>
                  </article>
                  <!-- Single Job -->
                  <article class="card p-lg-3 p-md-2 p-3 mb-3 shadow-sm search-job" role="button">
                      <div class="card-title d-flex justify-content-between align-items-center m-0">
                          <div class="px-2">
                              <h3 class="mb-0"><a class="text-primary fs-5 fw-bold" href="../templates/detailsJob.html">Database Specialist Engineer</a></h3>
                              <a class="text-secondary fs-5 fw-bold mb-0" href="#">PROVEN <span class="fw-light fs-6">- Riyadh</span></a>
                          </div>
                          <div class="p-1 rounded d-flex justify-content-center logo-lg shadow-sm mt-2 ml-5">
                              <img class="img-fluid" src="../../assets/imges/amazon3.png" width="100%" alt="PROVEN">
                          </div>
                      </div>
                      <div class="card-body p-md-2">
                          <div class="row card-link d-flex align-items-center justify-content-between mt-2">
                              <div class="col-12 fs-7">
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-briefcase text-primary"></i>
                                          <span class="text-secondary">Mid Career</span>
                                      </a>
                                  </div>
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-hourglass text-primary"></i>
                                          <span class="text-secondary">Full-time</span>
                                      </a>
                                  </div>
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-cash-stack text-primary"></i>
                                          <span class="text-secondary">$500 - $1000</span>
                                      </a>
                                  </div>
                                  <div class="d-inline-block px-1">
                                      <a href="../templates/detailsJob.html">
                                          <i class="bi bi-clock text-primary"></i>
                                          <span class="text-secondary">Feb 01</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="my-2">
                              <a href="../templates/detailsJob.html">
                                  <p class="fw-light fs-6 text-secondary">Experience in data warehousing, ETL, and data modeling Experience working with SQL and NoSQL databases Experience with data modeling…</p>
                              </a>
                          </div>
                      </div>
                  </article>
              </section>
<!--               
              <div class="offer-controls container col-lg-12 col-md-8 col-sm-12">
                <span id="prev" class="prev">Previous</span>
                <span id="indicators" class="indicators"></span>
                <span id="next" class="next">Next</span>
              </div> -->
            </div>

            <!-- <nav aria-label="offer-controls Page navigation example"> -->
              <div class="slider-controls">
                <span id="prev" class="prev">Previous</span>
                <span id="indicators" class="indicators"></span>
                <span id="next" class="next">Next</span>
              <!-- </div> -->
              <!-- <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul> -->
            </nav>
    </main>
   
        <!-- Footer -->
        <footer class=" text-white-50 text-md-start pt-5 pb-4">
          <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                  <a class="navbar-brand" href="index.html">H<span style="color: yellow;">R</span> <small >Jobs </small> </a>
                </h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                  Nemo neque modi dolor sed quo cupiditate veniam iusto nam ipsum quae? </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">The Products</a>
                </p>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Creativity</a>
                </p>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">SourceFile</a>
                </p>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">bootspr </a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful link</h5>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">The Products</a>
                </p>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Creativity</a>
                </p>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">SourceFile</a>
                </p>
                <p>
                  <a href="#" class="text-white" style="text-decoration: none;">bootspr </a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
             
              <p class="">
                <i class="fas fa-home me-2"></i>New Year
              </p>
              <p>
                <i class="fas fa-envelope  me-2"></i>hrjobs@gmail.com
              </p>
              <p>
                <i class="fas fa-phone me-2"></i> +967773700450
              </p>
              <p>
                <i class="fas fa-print me-2"></i> +101010234
              </p>
              <p>
                <i class="fas fa-home me-2"></i> New Yearx
              </p>
            </div>
            </div>
            <hr class="mb-4">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-8">
                <p>Copyright ©2022 All right reserved by:
                  <a href="https://hamzah2018.github.io/MyportfolioE/" style="text-decoration: none;">
                            <strong class="text-primary">Hamzah</strong> 
                  </a>
                </p>
              </div>
              <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                  <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer> 
        <!-- Footer -->
  
       <!-- FOOTER -->
   
        <!-- Footer -->
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="assets/js/template .js"></script>
      <!-- <script src="../../assets/js/main-1.js"></script> -->
      <script src="../../assets/js/jobs.js"></script>
  <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> -->
  </body>
  </html>



</html>