:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}


.navbar{
        display: none;
      }
    @media(max-width:800px){
          .navbar{
            display: block; 
          }
          .sidebar-dashbord {
            display: none;
          }
    }
    