@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700&display=swap');

:root
{
    --main-color:#065f46;
    --hover-color:#87cab2;
    --font-color:#777;
} 
*{
    /* color:    var(--color-one); */
    font-family: lato;
    color: var(--font-color);
    line-height: 30px;
}
a{
    color: rgb(253, 238, 151);
    border-radius: 4px;   
}
.navbar{
    background-color:var(--main-color);
color:white !important;
}
.card-body{
    color: white;
}
.btn-outline-success:hover{
    background-color:#87cab2;
}

.fried img{
    height: 120px;
}
@media (max-width:700px) {
    .frieds{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:993px) {
.adver{
    margin-left: -150px !important;
}
}
aside{
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.card_of_jobs > aside > div>
{
    margin-top: 8px;
    margin-bottom: 8px;
}
.sidebar-dashbord{
    width: 40%;

}
.sidebar-dashbord div {
    width: 100%;   
}
.sidebar-dashbord a {
    top: 40px;
    background-color:  #ccfbf1;
    color: green;
    width: 96%;
    margin: auto;
    border-radius: 6% !important;
    /* border: yellow;
    border-style: dashed;
    border-width: 20px; */
}
.bg-dashbord{
    /* rgb(35, 206, 107) */
    color: #766DF4 !important;
    /* background-color: #047857 !important; */
    background-color: var(--main-color) !important;
    /* #0d9488 */
    border: white;
    border-style:none none solid ;
    border-width: 10px;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
}
main{
    /* background-color: rebeccapurple; */
    /* margin-left: var(--offcanvas-width); */
    margin-left: auto !important;
    margin-right: auto !important;
}