
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif; */
    background-image: url(../imges/loginback.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: new time 'Times New Roman', Times, serif;
}

p {
    font-size: 17px;
    color: white;
}

h3 {
    font-size: 25px;
    color: white;
}

li {
    /* text-decoration: none; */
    display: inline-block;
    list-style: none;
}

.container .login,
.container1 .signup {
    width: 400px;
    height: 500px;
    border: 2px solid #ccc;
    position: absolute;
    top: 13%;
    left: 60%;
    /* transform-style: preserve-3d; */
    backface-visibility: hidden;
    /* border-radius: 40px; */
    transition: 1s ease-in-out;
    /* margin-top: 80px; */
    box-shadow: -1px 1px 60px black;
    background: rgba(127, 127, 127, 0.3);
}

.form-control {
 
}

.container .login {
    transform: perspective(600px) rotateY(0deg);
}

.container1 .signup {
    transform: perspective(600px) rotateY(180deg);
    height: 560px;
}

.active .login {
    transform: perspective(600px) rotateY(180deg);
}

.active .signup {
    transform: perspective(600px) rotateY(0deg);
}


.login .logo h1, .signup .logo h1 {
    font-size: 70px;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color:  (50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    -webkit-text-stroke-color: #64748b ;
    /* -webkit-text-fill-color:rgba(180, 2, 180, 0.9); */
    -webkit-text-fill-color: rgba(11, 127, 171,0);
    -webkit-text-fill-color: #292524;
    /* background:  */
    margin-left: 25%;
    margin-top: 2rem;
    /* font-weight: 300; font-size: 38px; margin: 0px 0px 0px 0px; line-height: 120%; font-family: 'Open sans', sans-serif; */
    font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
}

/* .signup .logo h1 {
    font-size: 50px;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: transparent;
    margin-left: 25%;
    margin-top: 2rem;
} */

.login input,
.signup input {
    margin-left: 20px;
    margin-right: auto;
    width: 80%;
    /* border: none; */
    margin-top: 2rem;

    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 16px;
    margin-top: 15px;
    height: 40px;
    color: white;
    outline-color: white;
    outline-style: none;
}

.login input[type=submit],
.signup input[type=submit] {
    width: 40%;
    height: 40px;
    margin: 0 2px;
    font-size: 20px;
    font-weight: 500;
    margin: 2rem 7rem;
    color: #fff;
    border: none;
}

.login .media,
.signup .media {
    margin-left: 2rem;
    list-style: none;
}

.login .media li,
.signup .media li {
    margin: 2rem 20px;
    padding: 5px;
}

p {
    margin: -1rem 3rem;
}

.empty1 {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #ffcc00; */
    z-index: -2000;
    transition: 1s ease-in-out;
}

.empty2 {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    /* background-color: teal; */
    z-index: -2000;
    transition: 1s ease-in-out;
    color: transparent;
    -webkit-text-stroke-color: transparent;
}

.empty .content {
    margin-top: 35vh;
    transition: 1s ease-in-out;
}

.empty h1 {
    margin-left: 10rem;
    font-size: 80px;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-in-out;
}

.empty p {
    color: black;
    font-size: 30px;
    transition: 1 ease-in-out;
}

.empty2 p,
.empty2 h1 {
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: transparent;
}

.empty2 p,
.empty h1 {
    color: transparent;
    -webkit-text-stroke-color: transparent;
    margin-left: 10px;
}

.active .empty1,
.active .empty1 p,
.active .empty1 h1 {
    top: 0;
    left: 50%;
    color: transparent;
    -webkit-text-stroke-color: transparent;
}

.active .empty2,
.active .empty2 p,
.active .empty2 h1 {
    top: 0;
    left: 0;
    color: white;
    -webkit-text-stroke-color: #fff;
}